<div class="footer mt-5">
                <div class="container d-flex justify-content-between">
                    <div class="row">
                        <div class="col-md-2 mt-3">
                            <ul class="liste1">
                                <div class="googi">
                                    <img src="/assets/images/images.jpg" class="img-fluid">
                                </div> 
                            </ul>
                        </div>
                        <div class="col-md-2 mt-3">
                            <div class="googi">
                               <!-- <img src="/assets/images/go.png" class="img-fluid mb-2">-->
                            </div>    
                            <div class="googi">
                                <!--<img src="/assets/images/ap.png" class="img-fluid">-->
                            </div> 
                        </div>  
                        {% for Bas in footer %}
                            {% if Bas %}
                                <div class="col-md-2 mt-3">
                                    <ul class="liste1">
                                        <li><h3 class="titre3">{{ Bas.title }}</h3></li>
                                        <li><a href="#">{{ Bas.subtitle1 }}</a></li>
                                        <li><a href="#">{{ Bas.subtitle2 }}</a></li>
                                        <li><a href="#">{{ Bas.subtitle3 }}</a></li>
                                        <li><a href="#">{{ Bas.subtitle4 }}</a></li>
                                        <li><a href="#">{{ Bas.subtitle5 }}</a></li>
                                        <li><a href="#">{{ Bas.subtitle6 }}</a></li> 
                                    </ul>
                                </div>   
                            {% endif %}
                        {% endfor %} 
                        <div class="col-md-2 mt-3">
                            <ul class="liste1">
                                <li><h3 class="titre3">Nous suivre</h3></li>
                                <li><a href="#">COMITÉ EXÉCUTIF DE TF1</a></li>
                                {% for Icon in icon %}
                                    <li class="social-icons mt-2">
                                        <i class="{{ Icon.icon }}"></i> 
                                    </li>
                                {% endfor %} 
                            </ul>
                        </div>
                                        
                    </div>   
                </div>
            </div> 